<div class="header search" *ngIf="isSearch">
    <div class="header-prefix">
        <mat-icon mat-icon matRipple (click)="onBackButton()">keyboard_arrow_left</mat-icon>
    </div>
    <div class="header-content">
        <input #Input [(ngModel)]="searchInput" (blur)="focusInput()">
    </div>
    <div class="header-suffix">
        <mat-icon matRipple *ngIf="isSearch" (click)="searchInput=undefined">clear</mat-icon>
        <mat-icon matRipple>more_vert</mat-icon>
    </div>
</div>
<div class="search-header-container" *ngIf="isSearch"></div>

<div class="header" *ngIf="showCheckbox">
    <div class="header-prefix">
        <mat-checkbox [(ngModel)]="totalChecked" (click)="$event.stopPropagation()"></mat-checkbox>
        <p>{{totalCheckedNumber}}팀 선택</p>
        <mat-icon matRipple (click)="showCheckbox=false">clear</mat-icon>
    </div>
</div>

<div class="sub-title" matRipple *ngIf="readyList.length" (click)="expandStatus.readyList = !expandStatus.readyList">
    <p>대기 상태</p>
    <mat-icon *ngIf="expandStatus.readyList">expand_more</mat-icon>
    <mat-icon *ngIf="!expandStatus.readyList">expand_less</mat-icon>
</div>

<div class="list" *ngIf="readyList.length && expandStatus.readyList">
    <div class="list-item" *ngFor="let user of readyList" mat-ripple
         (click)="showCheckbox? user.checked = !user.checked : showDetailUser(user)"
         (touchstart)="touchStart(user)" (touchend)="touchEnd()">
        <div class="checkbox" *ngIf="showCheckbox">
            <mat-checkbox [(ngModel)]="user.checked" (click)="$event.stopPropagation()"></mat-checkbox>
        </div>
        <div class="prefix" matRipple (click)="$event.stopPropagation()" [matMenuTriggerFor]="statusMenu" [matMenuTriggerData]="{user: user}">
            <p *ngIf="isSearch">{{user.date.format("MM/DD")}}</p>
            <p *ngIf="user.flatTable">평상{{user.flatTable}}</p>
            <p *ngIf="user.dechTable">데크{{user.dechTable}}</p>
            <p *ngIf="!user.flatTable && !user.dechTable">{{user.date.format("HH:mm")}}</p>
        </div>
        <div class="content">
            <p class="content-title ready">{{user.name}}
                ({{user.person + user.kids}}명)</p>
            <div class="content-desc">
                <p>
                    <span *ngIf="user.neungiBaeksuk">능이{{user.neungiBaeksuk}}, </span>
                    <span *ngIf="user.baeksuk">한방{{user.baeksuk}}, </span>
                    <span *ngIf="user.mushroomStew">버섯{{user.mushroomStew}}, </span>
                    <span *ngIf="user.mushroomStewForTwoPeople">버섯小{{user.mushroomStewForTwoPeople}}</span>
                </p>
                <p>{{user.customerMemo}}</p>
            </div>
        </div>
    </div>
</div>

<div class="sub-title" matRipple *ngIf="flatTableList.length" (click)="expandStatus.flatTableList = !expandStatus.flatTableList">
    <p>평상 예약</p>
    <mat-icon *ngIf="expandStatus.flatTableList">expand_more</mat-icon>
    <mat-icon *ngIf="!expandStatus.flatTableList">expand_less</mat-icon>
</div>

<div class="list" *ngIf="flatTableList.length && expandStatus.flatTableList">
    <div class="list-item" *ngFor="let user of flatTableList" mat-ripple
         (click)="showCheckbox? user.checked = !user.checked : showDetailUser(user)"
         (touchstart)="touchStart(user)" (touchend)="touchEnd()">
        <div class="checkbox" *ngIf="showCheckbox">
            <mat-checkbox [(ngModel)]="user.checked" (click)="$event.stopPropagation()"></mat-checkbox>
        </div>
        <div class="prefix" matRipple (click)="$event.stopPropagation()" [matMenuTriggerFor]="statusMenu" [matMenuTriggerData]="{user: user}">
            <p *ngIf="isSearch">{{user.date.format("MM/DD")}}</p>
            <p *ngIf="user.flatTable">평상{{user.flatTable}}</p>
            <p *ngIf="user.dechTable">데크{{user.dechTable}}</p>
        </div>
        <div class="content">
            <p class="content-title flat-table">{{user.name}}
                ({{user.person + user.kids}}명)</p>
            <div class="content-desc">
                <p>
                    <span *ngIf="user.neungiBaeksuk">능이{{user.neungiBaeksuk}}, </span>
                    <span *ngIf="user.baeksuk">한방{{user.baeksuk}}, </span>
                    <span *ngIf="user.mushroomStew">버섯{{user.mushroomStew}}, </span>
                    <span *ngIf="user.mushroomStewForTwoPeople">버섯小{{user.mushroomStewForTwoPeople}}</span>
                </p>
                <p>{{user.customerMemo}}</p>
            </div>
        </div>
    </div>
</div>

<div class="sub-title" matRipple *ngIf="foodList.length" (click)="expandStatus.foodList = !expandStatus.foodList">
    <p>식사 예약</p>
    <mat-icon *ngIf="expandStatus.foodList">expand_more</mat-icon>
    <mat-icon *ngIf="!expandStatus.foodList">expand_less</mat-icon>
</div>

<div class="list" *ngIf="foodList.length && expandStatus.foodList">
    <div class="list-item" *ngFor="let user of foodList" mat-ripple
         (click)="showCheckbox? user.checked = !user.checked : showDetailUser(user)"
         (touchstart)="touchStart(user)" (touchend)="touchEnd()">
        <div class="checkbox" *ngIf="showCheckbox">
            <mat-checkbox [(ngModel)]="user.checked" (click)="$event.stopPropagation()"></mat-checkbox>
        </div>
        <div class="prefix" matRipple (click)="$event.stopPropagation()" [matMenuTriggerFor]="statusMenu" [matMenuTriggerData]="{user: user}">
            <p *ngIf="isSearch">{{user.date.format("MM/DD")}}</p>
            <p>{{user.date.format("HH:mm")}}</p>
        </div>
        <div class="content">
            <p class="content-title food">{{user.name}}
                ({{user.person + user.kids}}명)</p>
            <div class="content-desc">
                <p>
                    <span *ngIf="user.neungiBaeksuk">능이{{user.neungiBaeksuk}}, </span>
                    <span *ngIf="user.baeksuk">한방{{user.baeksuk}}, </span>
                    <span *ngIf="user.mushroomStew">버섯{{user.mushroomStew}}, </span>
                    <span *ngIf="user.mushroomStewForTwoPeople">버섯小{{user.mushroomStewForTwoPeople}}</span>
                </p>
                <p>{{user.customerMemo}}</p>
            </div>
        </div>
    </div>
</div>
<div class="sub-title" matRipple *ngIf="cancelList.length" (click)="expandStatus.cancelList = !expandStatus.cancelList">
    <p>취소 고객</p>
    <mat-icon *ngIf="expandStatus.cancelList">expand_more</mat-icon>
    <mat-icon *ngIf="!expandStatus.cancelList">expand_less</mat-icon>
</div>

<div class="list" *ngIf="cancelList.length && expandStatus.cancelList">
    <div class="list-item" *ngFor="let user of cancelList" mat-ripple
         (click)="showCheckbox? user.checked = !user.checked : showDetailUser(user)"
         (touchstart)="touchStart(user)" (touchend)="touchEnd()">
        <div class="checkbox" *ngIf="showCheckbox">
            <mat-checkbox [(ngModel)]="user.checked" (click)="$event.stopPropagation()"></mat-checkbox>
        </div>
        <div class="prefix" matRipple (click)="$event.stopPropagation()" [matMenuTriggerFor]="statusMenu" [matMenuTriggerData]="{user: user}">
            <p *ngIf="isSearch">{{user.date.format("MM/DD")}}</p>
            <p *ngIf="user.flatTable">평상{{user.flatTable}}</p>
            <p *ngIf="user.dechTable">데크{{user.dechTable}}</p>
            <p *ngIf="!user.flatTable && !user.dechTable">{{user.date.format("HH:mm")}}</p>
        </div>
        <div class="content">
            <p class="content-title cancel">{{user.name}}
                ({{user.person + user.kids}}명)</p>
            <div class="content-desc">
                <p>
                    <span *ngIf="user.neungiBaeksuk">능이{{user.neungiBaeksuk}}, </span>
                    <span *ngIf="user.baeksuk">한방{{user.baeksuk}}, </span>
                    <span *ngIf="user.mushroomStew">버섯{{user.mushroomStew}}, </span>
                    <span *ngIf="user.mushroomStewForTwoPeople">버섯小{{user.mushroomStewForTwoPeople}}</span>
                </p>
                <p>{{user.customerMemo}}</p>
            </div>
        </div>
    </div>
</div>

<mat-menu #statusMenu="matMenu">
    <ng-template matMenuContent let-user="user">
        <button mat-menu-item *ngIf="user.status !=='bookingComplete'" (click)="setStatus(user, 'bookingComplete')">예약</button>
        <button mat-menu-item *ngIf="user.status !=='cancel'" (click)="setStatus(user, 'cancel')">취소</button>
        <button mat-menu-item *ngIf="user.status !=='ready'" (click)="setStatus(user, 'ready')">대기</button>
        <button mat-menu-item *ngIf="user.status !=='paymentReady'" (click)="setStatus(user, 'paymentReady')">입금전</button>
    </ng-template>
</mat-menu>

<div class="bottom-bar" *ngIf="totalCheckedNumber > 0">
    <div class="bottom-item" matRipple (click)="openBottomBarDialog()">
        <mat-icon>mail_outline</mat-icon>
        <p>문자전송</p>
    </div>
    <div class="bottom-item" matRipple (click)="deleteGuests()">
        <mat-icon>delete</mat-icon>
        <p>예약취소</p>
    </div>
</div>
<div class="bottom-bar-container"></div>

<ng-template #SelectMsg>
    <div class="select-msg">
        <h2>여러명에게 문자 보내기</h2>
        <button mat-menu-item (click)="sendGroupSMS('BeforeVisit')"><mat-icon>mail_outline</mat-icon>방문 직전 주차 등록 안내하기</button>
        <button mat-menu-item (click)="sendGroupSMS('Account')"><mat-icon>mail_outline</mat-icon>입금 계좌 알려주기</button>
        <button mat-menu-item (click)="sendGroupSMS('Confirm')"><mat-icon>mail_outline</mat-icon>예약 완료 알려주기</button>
        <button mat-menu-item (click)="sendGroupSMS('BookingInfo')"><mat-icon>mail_outline</mat-icon>예약 안내 보내기</button>
        <button mat-menu-item (click)="sendGroupSMS()"><mat-icon>mail_outline</mat-icon>직접 문자 작성하기</button>
    </div>
</ng-template>