:host {
    --border-color: rgba(0, 0, 0, 0.1);
    --background-color: #FAFAFA;
    --flat-table-bar-color: rgb(107, 187, 184);
    --food-bar-color: rgb(77, 117, 146);

    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

.header {
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: -webkit-fill-available;

    .header-prefix {
        display: flex;
        align-items: center;

        mat-checkbox {
            margin: 0;
        }
    }

    mat-icon {
        padding: 0.3rem;
        border-radius: 50%;
    }
}

.sub-title {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-weight: 600;
    color: gray;
}

.sub-title:first-of-type {
    margin-top: 0;
}

.list {
    background-color: white;
    border-radius: 2rem;
    padding: 0.5rem 1rem;

    .list-item {
        display: flex;
        padding: 0.8rem 0;
        border-bottom: 1px solid var(--border-color);

        .prefix {
            padding-right: 1rem;
            flex: none;
        }

        .content {
            .content-title {
                padding-left: 0.5rem;

                &.ready {
                    border-left: 0.2rem solid red;
                }

                &.flat-table {
                    border-left: 0.2rem solid var(--flat-table-bar-color);

                }

                &.food {
                    border-left: 0.2rem solid var(--food-bar-color);
                }

                &.cancel {
                    border-left: 0.2rem solid gray;
                }
            }

            .content-desc {
                color: rgba(1, 1, 1, 0.7);
                padding-left: 0.7rem;
            }
        }

        .suffix {
            position: absolute;
            text-align: right;
            right: 0;
            border-radius: 50%;
            padding: 1rem;
        }
    }

    .list-item:last-child {
        border-bottom: 0px;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}

p {
    margin: 0;
    font-size: 0.9rem;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background,
.mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background,
.mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    background-color: black !important;
    border-color: black !important;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:focus:checked~.mdc-checkbox__ripple {
    background-color: black !important;
}

mat-checkbox {
    margin-left: -0.5rem;
    margin-top: -8px;
}