<div class="header" *ngIf="showCheckbox">
    <div class="header-prefix">
        <mat-checkbox [(ngModel)]="totalChecked" (click)="$event.stopPropagation()"></mat-checkbox>
        <p>{{totalCheckedNumber}}팀 선택</p>
        <mat-icon matRipple (click)="showCheckbox=false">clear</mat-icon>

    </div>
    <div class="header-suffix" [class.disabled]="totalCheckedNumber === 0">
        <mat-icon matRipple [matMenuTriggerFor]="mailMenu">mail_outline</mat-icon>
        <mat-icon matRipple (click)="deleteGuests()">delete</mat-icon>
    </div>
</div>

<mat-menu #mailMenu="matMenu">
    <button mat-menu-item>입금요청 문자 전송</button>
    <button mat-menu-item>예약완료 문자 전송</button>
    <button mat-menu-item>주차등록 문자 전송</button>
    <button mat-menu-item>문자 전송</button>
</mat-menu>

<p class="sub-title" *ngIf="readyList.length">대기 상태</p>
<div class="list" *ngIf="readyList.length">
    <div class="list-item" *ngFor="let user of readyList" mat-ripple
         (click)="showCheckbox? user.checked = !user.checked : showDetailUser(user)"
         (touchstart)="touchStart(user)" (touchend)="touchEnd()">
        <div class="checkbox" *ngIf="showCheckbox">
            <mat-checkbox [(ngModel)]="user.checked" (click)="$event.stopPropagation()"></mat-checkbox>
        </div>
        <div class="prefix" matRipple (click)="$event.stopPropagation()" [matMenuTriggerFor]="statusMenu" [matMenuTriggerData]="{user: user}">
            <p *ngIf="user.flatTable">평상{{user.flatTable}}</p>
            <p *ngIf="user.dechTable">데크{{user.dechTable}}</p>
            <p *ngIf="!user.flatTable && !user.dechTable">{{user.date.format("HH:mm")}}</p>
        </div>
        <div class="content">
            <p class="content-title ready">{{user.name}}
                ({{user.person + user.kids}}명)</p>
            <div class="content-desc">
                <p>
                    <span *ngIf="user.neungiBaeksuk">능이{{user.neungiBaeksuk}}, </span>
                    <span *ngIf="user.baeksuk">한방{{user.baeksuk}}, </span>
                    <span *ngIf="user.mushroomStew">버섯{{user.mushroomStew}}, </span>
                    <span *ngIf="user.mushroomStewForTwoPeople">버섯小{{user.mushroomStewForTwoPeople}}</span>
                </p>
                <p>{{user.customerMemo}}</p>
            </div>
        </div>
    </div>
</div>

<p class="sub-title" *ngIf="flatTableList.length">평상 예약</p>
<div class="list" *ngIf="flatTableList.length">
    <div class="list-item" *ngFor="let user of flatTableList" mat-ripple
         (click)="showCheckbox? user.checked = !user.checked : showDetailUser(user)"
         (touchstart)="touchStart(user)" (touchend)="touchEnd()">
        <div class="checkbox" *ngIf="showCheckbox">
            <mat-checkbox [(ngModel)]="user.checked" (click)="$event.stopPropagation()"></mat-checkbox>
        </div>
        <div class="prefix" matRipple (click)="$event.stopPropagation()" [matMenuTriggerFor]="statusMenu" [matMenuTriggerData]="{user: user}">
            <p *ngIf="user.flatTable">평상{{user.flatTable}}</p>
            <p *ngIf="user.dechTable">데크{{user.dechTable}}</p>
        </div>
        <div class="content">
            <p class="content-title flat-table">{{user.name}}
                ({{user.person + user.kids}}명)</p>
            <div class="content-desc">
                <p>
                    <span *ngIf="user.neungiBaeksuk">능이{{user.neungiBaeksuk}}, </span>
                    <span *ngIf="user.baeksuk">한방{{user.baeksuk}}, </span>
                    <span *ngIf="user.mushroomStew">버섯{{user.mushroomStew}}, </span>
                    <span *ngIf="user.mushroomStewForTwoPeople">버섯小{{user.mushroomStewForTwoPeople}}</span>
                </p>
                <p>{{user.customerMemo}}</p>
            </div>
        </div>
    </div>
</div>

<p class="sub-title" *ngIf="foodList.length">식사 예약</p>
<div class="list" *ngIf="foodList.length">
    <div class="list-item" *ngFor="let user of foodList" mat-ripple
         (click)="showCheckbox? user.checked = !user.checked : showDetailUser(user)"
         (touchstart)="touchStart(user)" (touchend)="touchEnd()">
        <div class="checkbox" *ngIf="showCheckbox">
            <mat-checkbox [(ngModel)]="user.checked" (click)="$event.stopPropagation()"></mat-checkbox>
        </div>
        <div class="prefix" matRipple (click)="$event.stopPropagation()" [matMenuTriggerFor]="statusMenu" [matMenuTriggerData]="{user: user}">
            <p>{{user.date.format("HH:mm")}}</p>
        </div>
        <div class="content">
            <p class="content-title food">{{user.name}}
                ({{user.person + user.kids}}명)</p>
            <div class="content-desc">
                <p>
                    <span *ngIf="user.neungiBaeksuk">능이{{user.neungiBaeksuk}}, </span>
                    <span *ngIf="user.baeksuk">한방{{user.baeksuk}}, </span>
                    <span *ngIf="user.mushroomStew">버섯{{user.mushroomStew}}, </span>
                    <span *ngIf="user.mushroomStewForTwoPeople">버섯小{{user.mushroomStewForTwoPeople}}</span>
                </p>
                <p>{{user.customerMemo}}</p>
            </div>
        </div>
    </div>
</div>

<p class="sub-title" *ngIf="cancelList.length">취소 내역</p>
<div class="list" *ngIf="cancelList.length">
    <div class="list-item" *ngFor="let user of cancelList" mat-ripple
         (click)="showCheckbox? user.checked = !user.checked : showDetailUser(user)"
         (touchstart)="touchStart(user)" (touchend)="touchEnd()">
        <div class="checkbox" *ngIf="showCheckbox">
            <mat-checkbox [(ngModel)]="user.checked" (click)="$event.stopPropagation()"></mat-checkbox>
        </div>
        <div class="prefix" matRipple (click)="$event.stopPropagation()" [matMenuTriggerFor]="statusMenu" [matMenuTriggerData]="{user: user}">
            <p *ngIf="user.flatTable">평상{{user.flatTable}}</p>
            <p *ngIf="user.dechTable">데크{{user.dechTable}}</p>
            <p *ngIf="!user.flatTable && !user.dechTable">{{user.date.format("HH:mm")}}</p>
        </div>
        <div class="content">
            <p class="content-title cancel">{{user.name}}
                ({{user.person + user.kids}}명)</p>
            <div class="content-desc">
                <p>
                    <span *ngIf="user.neungiBaeksuk">능이{{user.neungiBaeksuk}}, </span>
                    <span *ngIf="user.baeksuk">한방{{user.baeksuk}}, </span>
                    <span *ngIf="user.mushroomStew">버섯{{user.mushroomStew}}, </span>
                    <span *ngIf="user.mushroomStewForTwoPeople">버섯小{{user.mushroomStewForTwoPeople}}</span>
                </p>
                <p>{{user.customerMemo}}</p>
            </div>
        </div>
    </div>
</div>

<!-- <p class="sub-title" *ngIf="db.length">검색 리스트</p> -->
<div class="list" *ngIf="db.length">
    <div class="list-item" *ngFor="let user of db" mat-ripple
         (click)="showCheckbox? user.checked = !user.checked : showDetailUser(user)"
         (touchstart)="touchStart(user)" (touchend)="touchEnd()">
        <div class="checkbox" *ngIf="showCheckbox">
            <mat-checkbox [(ngModel)]="user.checked" (click)="$event.stopPropagation()"></mat-checkbox>
        </div>
        <div class="prefix" matRipple (click)="$event.stopPropagation()" [matMenuTriggerFor]="statusMenu" [matMenuTriggerData]="{user: user}">
            <p>{{user.date.format("MM/DD")}}</p>
            <p *ngIf="user.flatTable || user.dechTable">평상</p>
            <p *ngIf="!user.flatTable && !user.dechTable">식사</p>
        </div>
        <div class="content">
            <p class="content-title"
               [class.ready]="getItemBarColor(user) === 'ready'"
               [class.cancel]="getItemBarColor(user) === 'cancel'"
               [class.flat-table]="getItemBarColor(user) === 'flat-table'"
               [class.food]="getItemBarColor(user) === 'food'">
                {{user.name}}
                ({{user.person + user.kids}}명)</p>
            <div class="content-desc">
                <p>
                    <span *ngIf="user.flatTable">평상{{user.flatTable}}, </span>
                    <span *ngIf="user.dechTable">데크{{user.dechTable}}, </span>
                </p>
                <p>
                    <span *ngIf="user.neungiBaeksuk">능이{{user.neungiBaeksuk}}, </span>
                    <span *ngIf="user.baeksuk">한방{{user.baeksuk}}, </span>
                    <span *ngIf="user.mushroomStew">버섯{{user.mushroomStew}}, </span>
                    <span *ngIf="user.mushroomStewForTwoPeople">버섯小{{user.mushroomStewForTwoPeople}}</span>
                </p>
            </div>
        </div>
    </div>
</div>

<mat-menu #statusMenu="matMenu">
    <ng-template matMenuContent let-user="user">
        <button mat-menu-item *ngIf="user.status !=='bookingComplete'" (click)="setStatus(user, 'bookingComplete')">예약</button>
        <button mat-menu-item *ngIf="user.status !=='cancel'" (click)="setStatus(user, 'cancel')">취소</button>
        <button mat-menu-item *ngIf="user.status !=='ready'" (click)="setStatus(user, 'ready')">대기</button>
        <button mat-menu-item *ngIf="user.status !=='paymentReady'" (click)="setStatus(user, 'paymentReady')">입금전</button>
    </ng-template>

</mat-menu>