<div class="header">
    <mat-icon class="header-prefix" mat-icon matRipple (click)="onBackButton()">keyboard_arrow_left</mat-icon>
    <div class="header-content" (click)="editMode = true">
        <input #Input [(ngModel)]="customerInfo.name">
    </div>
    <div class="header-suffix">
        <mat-icon matRipple [matMenuTriggerFor]="menu">more_vert</mat-icon>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onBookingCancelButton()">
        <mat-icon [style.margin]="'0rem'">delete</mat-icon>
        <p>예약취소</p>
    </button>
</mat-menu>


<div class="content-container" (click)="editMode = true">
    <div class="answer-box">
        <p>예약번호</p>
        <p>{{customerInfo.id}}</p>
    </div>
    <div class="answer-box">
        <p>상태</p>
        <p [matMenuTriggerFor]="statusMenu" matRipple>{{getStatus(customerInfo.status)}}</p>
    </div>
    <mat-menu #statusMenu="matMenu">
        <button mat-menu-item (click)="setStatus('ready')">{{getStatus('ready')}}</button>
        <button mat-menu-item (click)="setStatus('paymentReady')">{{getStatus('paymentReady')}}</button>
        <button mat-menu-item (click)="setStatus('bookingComplete')">{{getStatus('bookingComplete')}}</button>
        <button mat-menu-item (click)="setStatus('cancel')">{{getStatus('cancel')}}</button>
    </mat-menu>

    <div class="answer-box">
        <p>전화번호</p>
        <input type="tel" placeholder="ex) 010-0000-0000" [(ngModel)]="tel">
    </div>
    <div class="answer-box">
        <p>인원 (어른)</p>
        <input type="number" placeholder="4명" [(ngModel)]="customerInfo.person">
    </div>
    <div class="answer-box">
        <p>인원 (아이)</p>
        <input type="number" placeholder="4명" [(ngModel)]="customerInfo.kids">
    </div>
    <div class="answer-box">
        <p>날짜</p>
        <input type="date" [(ngModel)]="date">
    </div>
    <div class="answer-box">
        <p>시간</p>
        <input type="time" [(ngModel)]="time">
    </div>
    <div class="answer-box" (click)="flatTableEditMode = !flatTableEditMode">
        <p>평상 대여</p>
        <p class="answer">{{bookingFlatTable}}</p>
    </div>
    <div class="answer-box" *ngIf="flatTableEditMode">
        <p>- 평상</p>
        <input type="number" placeholder="1대" [(ngModel)]="customerInfo.flatTable">
    </div>
    <div class="answer-box" *ngIf="flatTableEditMode">
        <p>- 데크</p>
        <input type="number" placeholder="1대" [(ngModel)]="customerInfo.dechTable">
    </div>
    <div class="answer-box" (click)="foodEditMode = !foodEditMode">
        <p>식사 예약</p>
        <p class="answer" [innerHTML]="bookingFoods"></p>
    </div>
    <div class="answer-box" *ngIf="foodEditMode">
        <p>- 능이백숙</p>
        <input type="number" placeholder="1" [(ngModel)]="customerInfo.neungiBaeksuk">
    </div>
    <div class="answer-box" *ngIf="foodEditMode">
        <p>- 한방백숙</p>
        <input type="number" placeholder="1" [(ngModel)]="customerInfo.baeksuk">
    </div>
    <div class="answer-box" *ngIf="foodEditMode">
        <p>- 버섯찌개</p>
        <input type="number" placeholder="1" [(ngModel)]="customerInfo.mushroomStew">
    </div>
    <div class="answer-box" *ngIf="foodEditMode">
        <p>- 버섯(2인)</p>
        <input type="number" placeholder="1" [(ngModel)]="customerInfo.mushroomStewForTwoPeople">
    </div>
    <div class="answer-box">
        <p>차량등록</p>
        <p (click)="moveBookingParkingPage()">{{customerInfo.cars.length}}대<br>{{carList}}
        </p>
    </div>
    <div class="answer-box" *ngIf="bookingFlatTable">
        <p>평상 예약금</p>
        <input type="number" placeholder="50,000" [(ngModel)]="customerInfo.deposit">
    </div>
    <div class="answer-box" *ngIf="bookingFlatTable">
        <p>(※ 추천 예약금)</p>
        <p>({{recommendDeposit | number}}원)</p>
    </div>
    <div class="answer-box memo-box">
        <p>요청 사항</p>
        <textarea [placeholder]="'요청 사항'" [(ngModel)]="memo"></textarea>
    </div>
</div>

<div class="bottom-bar">
    <div class="bottom-item" matRipple (click)="moveBookingParkingPage()">
        <mat-icon>directions_car</mat-icon>
        <p>주차등록</p>
    </div>
    <div class="bottom-item" matRipple *ngIf="!editMode" (click)="openBottomBarDialog()">
        <mat-icon>mail_outline</mat-icon>
        <p>문자전송</p>
    </div>
    <div class="bottom-item" matRipple *ngIf="!editMode">
        <a class="bottom-item" href="tel:{{customerInfo.tel}}">
            <mat-icon> phone</mat-icon>
            <p>전화하기</p>
        </a>
    </div>
    <div class="bottom-item" matRipple *ngIf="editMode">
        <mat-icon>save</mat-icon>
        <p>저장하기</p>
    </div>
</div>
<div class="bottom-bar-container"></div>

<ng-template #SelectMsg>
    <div class="select-msg">
        <h2>문자 보내기</h2>

        <button mat-menu-item>
            <a href="sms:{{customerInfo.tel}}?body={{getSMSText('BeforeVisit')}}">
                <mat-icon>mail_outline</mat-icon>
                <span>방문 직전 주차 등록 안내하기</span>
            </a>
        </button>
        <button mat-menu-item>
            <a href="sms:{{customerInfo.tel}}?body={{getSMSText('Account')}}">
                <mat-icon>mail_outline</mat-icon>
                <span>입금 계좌 알려주기</span>
            </a>
        </button>
        <button mat-menu-item>
            <a href="sms:{{customerInfo.tel}}?body={{getSMSText('Confirm')}}">
                <mat-icon>mail_outline</mat-icon>
                <span>예약 완료 알려주기</span>
            </a>
        </button>
        <button mat-menu-item>
            <a href="sms:{{customerInfo.tel}}?body={{getSMSText('BookingInfo')}}">
                <mat-icon>mail_outline</mat-icon>
                <span>예약 안내 보내기</span>
            </a>
        </button>
        <button mat-menu-item>
            <a href="sms:{{customerInfo.tel}}">
                <mat-icon>mail_outline</mat-icon>
                <span>직접 문자 작성하기</span>
            </a>
        </button>
    </div>
</ng-template>