.calender-container {
    margin-bottom: 1rem;

    p,
    span {
        font-size: 1rem;
        font-weight: 500;
    }

    .dateRange {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        p {
            padding: 0.5rem;
            display: flex;
            align-items: center;
            width: 50%;
        }
    }

    .month-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        mat-icon {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 3rem;
            height: 3rem;
        }
    }

    .weekdays-list {
        display: flex;
        justify-content: space-around;

        p {
            font-size: 0.8rem;
            font-weight: 500;
            opacity: 0.8;
        }
    }

    .weekday {
        display: flex;
        justify-content: space-around;

        .date {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;

            &.selected {
                background-color: black;

                p {
                    color: white;
                }
            }

            &.today {
                text-decoration-line: underline;
            }

            &.dim {
                opacity: 0.5;
            }

            p {
                font-size: 1rem;
                font-weight: 500;

                &.holiday {
                    color: #e34c4c;
                }
            }
        }
    }
}

div,
p {
    margin: 0;
}