html,
body {
    height: 100%;
    margin: 0;

    div,
    button,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    textarea,
    input {
        @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
        font-family: 'Noto Sans KR', sans-serif, Roboto;
        word-wrap: break-word;
        word-break: keep-all;
        margin: 0;
    }
}