:host {
    --top-header-height: 3rem;
    --month-container-height: 3rem;
    --weekdays-list-height: 2rem;
    --total-header-height: calc(var(--top-header-height) + var(--month-container-height) + var(--weekdays-list-height));
    --calendar-height: calc(100% - var(--total-header-height));
    --background-color: #FAFAFA;
    --border-color: rgba(0, 0, 0, 0.3);
    --header-button-border-color: black;
    --holiday-color: #e34c4c;
    --selected-date-background-color: black;
    --selected-date-font-color: white;
    --flat-table-bar-color: rgb(107, 187, 184);
    --food-bar-color: rgb(77, 117, 146);
}

.fixed {
    position: fixed;
    background-color: var(--background-color);
    z-index: 9;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--border-color);

    &.no-height {
        height: auto !important;
    }

    .top-header {
        height: var(--top-header-height);

        display: flex;
        justify-content: space-between;
        align-items: center;

        .suffix {
            display: flex;

            .today-button {
                border-radius: 50%;
                height: 24px;
                width: 24px;
                padding: 0.5rem;

                p {
                    padding: 0.1rem;
                    text-align: center;
                    border: 2px solid var(--header-button-border-color);
                    border-radius: 30%;
                }
            }

            .short-content-type-button {
                border-radius: 50%;
                padding: 0.5rem;
                height: 24px;

                p {
                    text-align: center;
                    border: 2px solid var(--header-button-border-color);
                    border-radius: 30%;
                    padding: 0.1rem;
                }
            }

        }
    }

    .month-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: var(--month-container-height);

        p {
            font-size: 1.1rem;
            font-weight: 600;
            padding: 0.5rem;
            border-radius: 1rem;
        }

        mat-icon {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 2rem;
            height: 2rem;
        }
    }

    .weekdays-list {
        display: flex;
        height: var(--weekdays-list-height);
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid var(--border-color);

        p {
            font-size: 0.8rem;
            font-weight: 500;
            opacity: 0.8;

            &.holiday {
                color: var(--holiday-color)
            }
        }
    }


}

p {
    margin: 0;
}

mat-icon {
    padding: 0.5rem;
    border-radius: 50%;
}

.calender-container {
    display: flex;
    flex-direction: column;
    height: var(--calendar-height);
    overflow-y: auto;

    .weekday {
        display: flex;
        justify-content: space-around;
        height: inherit;

        border-top: 1px solid var(--border-color);

        .date-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .date {
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 30%;
                display: flex;
                justify-content: center;
                align-items: center;

                &.selected {
                    background-color: var(--selected-date-background-color);
                    color: var(--selected-date-font-color) !important;
                }

                &.today {
                    text-decoration-line: underline;
                }

                &.holiday {
                    color: var(--holiday-color);
                }
            }

            .date-short-content {
                text-align: start;

                p {
                    margin-bottom: 0.2rem;
                    padding: 0 0.1rem;

                    font-size: 0.8rem;
                    font-weight: 400;

                    &.shortest {
                        opacity: 0;
                        margin-top: 0.2rem;
                        margin-bottom: 0.6rem;
                        padding: 0;
                        font-weight: 600;
                        line-height: 0;

                        &.show {
                            opacity: 1;
                        }
                    }
                }

                .flat-table {
                    p {
                        border-left: 0.2rem solid var(--flat-table-bar-color);
                    }
                }

                .food {
                    p {
                        border-left: 0.2rem solid var(--food-bar-color);
                    }
                }
            }

            p {
                font-size: 0.8rem;
                font-weight: 500;
            }
        }
    }
}

.dim {
    opacity: 0.4;
}

.list-container {
    background-color: var(--background-color);
    min-height: 101%;
}