<button class="add-button" mat-mini-fab routerLink="/guest-detail"><mat-icon>add</mat-icon></button>

<div #Calendar class="fixed" [class.no-height]="calendarExpandLevel < 3">
    <div class="top-header">
        <mat-icon matRipple>menu</mat-icon>
        <div class="suffix">
            <mat-icon matRipple routerLink="/guest-list" [queryParams]="{isSearch: true}">search</mat-icon>
            <div class="today-button" matRipple>
                <p (click)="moveToday()">{{today.format("D")}}</p>
            </div>
            <div class="short-content-type-button">
                <p (click)="changeType()">{{type}}</p>
            </div>
        </div>
    </div>
    <div class="month-container">
        <mat-icon matRipple (click)="moveMonthOrWeek(-1)">keyboard_arrow_left</mat-icon>
        <p matRipple>{{selectedDate.format("YYYY년 MM월")}}</p>
        <mat-icon matRipple (click)="moveMonthOrWeek(1)">keyboard_arrow_right</mat-icon>
    </div>
    <div class="weekdays-list">
        <p *ngFor='let day of ["일", "월", "화", "수", "목", "금", "토"]' [class.holiday]="['금','토'].includes(day)">{{day}}</p>
    </div>

    <div class="calender-container">
        <div class="weekday" *ngFor="let weekday of calendar">
            <div class="date-container" *ngFor="let date of weekday" matRipple (click)="changeDate(date)" [class.dim]="needToDimming(date)">
                <p class="date" [class.today]="isToday(date)" [class.holiday]="date.isHoliday" [class.selected]="isSelected(date)">{{date.date.format("D")}}</p>
                <div class="date-short-content" *ngIf="calendarExpandLevel===3">
                    <div *ngIf="['전체','평상'].includes(type)" class="flat-table">
                        <p>{{shortFlatTable(date)}}</p>
                        <p>{{shortDechTable(date)}}</p>
                    </div>
                    <div *ngIf="['전체','식사'].includes(type)" class="food">
                        <p>{{shortChicken(date)}}</p>
                        <p>{{shortMushroom(date)}}</p>
                    </div>
                    <div *ngIf="['전체','펜션'].includes(type)" class="pension">
                        <!-- ING -->
                    </div>
                </div>
                <div class="date-short-content" *ngIf="calendarExpandLevel===2">
                    <p class="shortest" [class.show]="shortFlatTable(date) || shortDechTable(date) || shortChicken(date) || shortMushroom(date)"
                       [class.isReady]="isReadyStatus(date)">•</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div #ListContainer class="list-container">
    <div class="list-header">
        <p>{{selectedDate.format("YY년 M월 D일")}}</p>
        <mat-icon *ngIf="listType==='list'" (click)="listType = 'timeline'">list</mat-icon>
        <mat-icon *ngIf="listType==='timeline'" (click)="listType = 'list'">access_time</mat-icon>
    </div>
    <guest-list [class.hide]="listType==='timeline'" [selectedDate]="selectedDate"></guest-list>
</div>